{% extends "base.html" %}


{% block main_content %}

<h2>Password change</h2>

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<form action="/site/password_changed/" method="post">
<table>
{{ form.old_password.errors }}
<tr><td><label for="id_old_password">Old password:</label></td><td>{{ form.old_password }}</td></tr>
{{ form.new_password1.errors }}
<tr><td><label for="id_new_password1">New password:</label></td><td>{{ form.new_password1 }}</td></tr>
{{ form.new_password2.errors }}
<tr><td><label for="id_new_password2">Confirm password:</label></td><td>{{ form.new_password2 }}</td></tr>

<tr><td><input type="submit" value="Change my password" /></td></tr>
</table>
</form>

{% endblock %}
