{% extends 'base.html' %}

{% block header %}
        <h3>  About </h3>
{% endblock %}
{% block main_content %}

	<p>
        <a href="http://code.google.com/p/codechecker/">Codechecker</a>
        is a Free and Open Source Online Programming Contest Judge
        developed by <a href="http://suren.in">M
        Surendran</a>, <a href="http://www.google.com/profiles/112148397913728069336">Aditya
        Manthramurthy</a> and <a href="http://www.google.com/profiles/112622614976789698636">Krishnan Parthasarathi</a>. 
	</p>
	<p>
	  Want to conduct a similar contest in your college? <br>
	  Want to contribute to this FOSS project? <br>
	  Visit the project
        page <a href="http://code.google.com/p/codechecker">http://code.google.com/p/codechecker</a>
        and get in touch with the developers!
	</p>

{% endblock %}

