<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<!-- change this to the title you want to appear in browser title bar -->

<title> Codelabs </title >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="suren aditya krishnan" />
<meta name="description" content="Codelabs checker default " />
<link rel="stylesheet" href="/media/css/style.css" type="text/css" />


</head>

<body>

<div id="navcontainer">
    <!-- the title that appear in the page header -->
    <div id="title"> <a href="/site/"> CodeLabs </a></div>
        <ul id="navlist">
        
            {% block side_bar %} 
                <!-- put your navigation links and text here -->
                <li><a href="/site/">Home</a></li>
                <li><a href="/site/contests/">Contests</a></li>
                <li><a href="/site/problems/">Problems</a></li>
                <li><a href="/site/references/">References</a></li>
                <li><a href="/site/submissions/">Judge Status</a></li>
                <li><a href="/site/about/">About</a></li>
                <!-- end navigation -->
                {% if user.is_authenticated %}
                <li> <a href="/site/logout/"> Logout </a> </li>
                {% else %}
                <li> <a href="/site/login/"> Login </a> </li>
                <li> <a href="/site/register/"> Register </a> </li>                
                {% endif %}
                
            {% endblock %}
            
        </ul>    
    </div>

</div>

<div id="wrap">
    <div id="container">
        <div class="content">
            <!-- here is your page content -->
            <div id='breadcrumbs'>
                <div id="greeting">
                    {% if user.is_authenticated %}
                    Welcome, <a href="#"> {{ user.username }} </a>!
                    {% else %}
                    Hello There! Please <a href="/site/login/"> Log in </a>.
                    {% endif %}
                </div>
                {% block breadcrumbs %} 
                 
                {% endblock %}        
            </div>
            <div class="header">
                {% block errors %}
                <h4> {{ errors }} </h4>
                {% endblock %}
                
                {% block header %}
                <h3>
                    Welcome to CodeLabs!     
                </h3>
                <i> The Way Geeks Have fun </i>
                {% endblock %}
            </div>
            <div class="links">
                {% block links %}

                {% endblock %}
            </div>

            <div class="main_content"> 
                {% block main_content %} 
                <div>
                    <br>
                    Codelabs is an automated judge system to conduct
                    programming contests. It has a mechanism to submit
                    problem solutions, have them judged fully
                    automatically and provides (web) interfaces for
                    teams, the jury and the general public.
                </div> 
                <br> 
                <div>
                  Please use the links on the left to navigate the
                  site. Register an account to start participating.
                </div>
                {% endblock %}
            </div>
            <br>
        </div>



        <div id="footer"><br />
          <a href="http://code.google.com/p/codechecker" style="text-decoration: none">  CodeChecker Project - 2010 </a>
        </div>
    </div>
</div>

<div id='header'> </div>
</body>
</html>
