{% extends stylesheet %}

{% block header %}
- About
{% endblock %}
{% block mainblock %}

	<p>
        <a href="http://code.google.com/p/codechecker/">Codechecker</a>
        is a Free and Open Source Online Programming Contest Judge
        developed by <a href="http://suren.in">Surendran Mahendran</a>, 
        <a href="http://www.google.com/profiles/112148397913728069336">
        Aditya Manthramurthy </a> and 
        <a href="http://www.google.com/profiles/112622614976789698636">
        Krishnan Parthasarathi </a>. 
	</p>
	<p>
	  Want to conduct a similar contest in your college? <br>
	  Want to contribute to this FOSS project? <br>
	  Visit the <a href="http://github.com/surenm/codechecker"> GitHub project 
	  page </a> and get in touch with the developers!
	</p>

{% endblock %}

